* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Frank Ruhl Libre", serif;
}

#collaboration {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  padding-left: 250px;
  padding-right: 250px;
}

h3 {
  font-size: 35px;
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 400;
}

#pricing p {
  padding-left: 250px;
  padding-right: 250px;
}

#pricing .toggleplan span {
  font-size: 16px;
  font-weight: 500;
}

#pricing .dollar {
  font-size: 38px;
  font-weight: 700;
}

#pricing .amount {
  font-size: 50px;
  font-weight: 700;
}

